<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key><string>com.thinkhot.snapshot</string>
  <key>ProgramArguments</key>
  <array>
    <string>/bin/bash</string>
    <string>/Users/Jin/Documents/GitProgram/ThinkHOT/snapshot.sh</string>
  </array>
  <key>WorkingDirectory</key><string>/Users/Jin/Documents/GitProgram/ThinkHOT</string>
  <key>StartCalendarInterval</key>
  <array>
    <dict><key>Hour</key><integer>9</integer><key>Minute</key><integer>0</integer></dict>
    <dict><key>Hour</key><integer>12</integer><key>Minute</key><integer>0</integer></dict>
    <dict><key>Hour</key><integer>15</integer><key>Minute</key><integer>0</integer></dict>
  </array>
  <key>StandardOutPath</key><string>/Users/Jin/Documents/GitProgram/ThinkHOT/.publish/launchd.out.log</string>
  <key>StandardErrorPath</key><string>/Users/Jin/Documents/GitProgram/ThinkHOT/.publish/launchd.err.log</string>
</dict>
</plist>
